.ipynb_checkpoints
__pycache__
processed
batch.log
Thumbs*
*.png
parameter-scan*.csv
hourly-out-v0*
manta_sets*
snapshots-v*
dask-worker-space
surface-frames-v*
perf_test
surface-tidal-frames-*
*.parquet
*.h5
